.withdraw-first #mui-component-select-currency,
.withdraw-first svg {
  color:var(--white) !important;
}

.fillInThe {
  display: flex;
  margin-top: 10px;
  background-color: var(--gray-700,  --burgundy-red);
  border-radius: 8px;
}

.fillInThe .MuiOutlinedInput-root {
  display: flex;
}

.fillInThe .MuiOutlinedInput-root .MuiInputAdornment-root {
  max-width: 60px;
}

.fillInThe .MuiOutlinedInput-root input {
  flex: 1;
  color: var(--white);
}

.fillInThe .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border: 0;
}


.input-with-placeholder .MuiOutlinedInput-input::placeholder {
  text-align: right;
}

.select-with-text-left .MuiSelect-select {
  text-align: left;
}

.text-field-with-placeholder .MuiOutlinedInput-input::placeholder {
  text-align: right;
}